<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); -%>

</head>

<body onload="startTime()">
  <%- include('./partials/header_sidebar'); -%>

    <!-- tap on top starts-->

    <!-- Page Sidebar Ends-->
    <div class="page-body">
      <div class="container-fluid">
        <div class="page-title pb-2">
          <div class="row">
            <div class="col-sm-6">
              <h3>
                <%=lan.Dashboard%>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid starts-->
      <div class="container-fluid dashboard-2">
        <div class="row">



          <div class="col-12">
            <div class=" profile-greeting">
              <div class=" p-0">
                <h5 class="px-4 py-3 ">
                  <%=lan.General%>
                </h5>
              </div>
              <div class="row pt-0">

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card profit-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-primary ">
                            <%=lan.Total%>
                              <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[0].total%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-primary"><i class="fa fa-car"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card visitor-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-info">
                            <%=lan.Total%>
                              <%=lan.Service%>
                                <%=lan.Zone%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= tot_zone[0].total_zone%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-info"><i class="fa fa-map"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-success">
                            <%=lan.Total%>
                              <%=lan.Vehicle%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= tot_vehicle[0].total_vehicle%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-success"><i class="fa fa-bars"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-warning">
                            <%=lan.Total%>
                              <%=lan.Payment%>
                                <%=lan.Method%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= tot_payment[0].total_payment%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-warning"><i class="fa fa-list"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-warning"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>



          <div class="col-12">
            <div class=" profile-greeting">
              <div class=" p-0">
                <h5 class="px-4 py-3 ">
                  <%=lan.Driver%>
                </h5>
              </div>
              <div class="row pt-0">

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card profit-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-primary ">
                            <%=lan.Total%>
                              <%=lan.Driver%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= driver[0].total_driver%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-primary"><i class="fa fa-user"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card visitor-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-info">
                            <%=lan.Active%>
                              <%=lan.Driver%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= driver[0].appro%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-info"><i class="fa fa-user-circle-o"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-success">
                            <%=lan.Verified%>
                              <%=lan.Driver%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= driver[0].verifi%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-success"><i class="fa fa-user-plus"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-warning">
                            <%=lan.Deactivate%>
                              <%=lan.Driver%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= driver[0].unappro%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-warning"><i class="fa fa-user-times"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-warning"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>


          <div class="col-12">
            <div class=" profile-greeting">
              <div class=" p-0">
                <h5 class="px-4 py-3 ">
                  <%=lan.Customer%>
                </h5>
              </div>
              <div class="row pt-0">



                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card profit-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-primary ">
                            <%=lan.Total%>
                              <%=lan.Customer%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= customer[0].total_customer%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-primary"><i class="fa fa-users"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card visitor-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-info">
                            <%=lan.Active%>
                              <%=lan.Customer%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= customer[0].appro%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-info"><i class="fa fa-user-circle-o"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-success">
                            <%=lan.Deactivate%>
                              <%=lan.Customer%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= customer[0].unappro%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-success"><i class="fa fa-user-times"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-warning">
                            <%=lan.Unverified%>
                              <%=lan.Driver%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= driver[0].unverifi%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-warning"><i class="fa fa-times-circle"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-warning"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>



          <div class="col-12">
            <div class=" profile-greeting">
              <div class="p-0">
                <h5 class="px-4 py-3 ">
                  <%=lan.Book%>
                    <%=lan.Services%>
                      <%=lan.Status%>
                </h5>
              </div>
              <div class="row pt-0">


                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card profit-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-primary ">
                            <%=lan.Total%>
                              <%=lan.Accepted%>
                                <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[1].accept%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-primary"><i class="fa fa-taxi"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card visitor-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-info">
                            <%=lan.Total%>
                              <%=lan.Reached%>
                                <%=lan.Pickup%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[2].iamhere%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-info"><i class="fa fa-hourglass-start"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-success">
                            <%=lan.Total%>
                              <%=lan.Conform%>
                                <%=lan.Pickup%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[3].enterotp%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-success"><i class="fa fa-check-circle"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-warning">
                            <%=lan.Total%>
                              <%=lan.Cancel%>
                                <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[4].cancel%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-warning"><i class="fa fa-times-circle-o"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-warning"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>



          <div class="col-12">
            <div class=" profile-greeting">
              <div class="p-0">
                <h5 class="px-4 py-3 ">
                  <%=lan.Book%>
                    <%=lan.Services%>
                      <%=lan.Status%>
                </h5>
              </div>
              <div class="row pt-0">

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card profit-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-primary ">
                            <%=lan.Total%>
                              <%=lan.Completed%>
                                <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[8].complete%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-primary"><i class="fa fa-list-alt"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 box-col-4">
                  <div class="card visitor-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-info">
                            <%=lan.Total%>
                              <%=lan.Start%>
                                <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[5].start%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-info"><i class="fa fa-step-backward"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-success">
                            <%=lan.Total%>
                              <%=lan.End%>
                                <%=lan.Ride%><i class="fa fa-circle"> </i>
                          </p>
                          <h4>
                            <%= allstatus[6].end%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-success"><i class="fa fa-step-forward"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-12 box-col-4">
                  <div class="card sell-card">
                    <div class="card-header pb-0">
                      <div class="d-flex justify-content-between">
                        <div class="flex-grow-1">
                          <p class="square-after f-w-600 header-text-warning">
                            <%=lan.Total%>
                              <%=lan.Ride%>
                                <%=lan.Complete%><i class="fa fa-circle"></i>
                          </p>
                          <h4>
                            <%= allstatus[7].ridecomplete%>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="right-side icon-right-warning"><i class="fa fa-check-circle"></i>
                        <div class="shap-block">
                          <div class="rounded-shap animate-bg-warning"><i></i><i></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>



        </div>
      </div>
      <!-- Container-fluid Ends-->
    </div>

    <%- include('./partials/footer'); -%>
      <%- include('./partials/script'); -%>
</body>

</html>