<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->

        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Cancelled%> <%=lan.Rides%> <%=lan.List%></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Cancelled%> <%=lan.Rides%> <%=lan.List%></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive theme-scrollbar">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><%=lan.Rider%></th>
                                            <th><%=lan.Driver%></th>
                                            <th><%=lan.Pickup%> <%=lan.Location%></th>
                                            <th><%=lan.Destination%></th>
                                            <th><%=lan.Ride%> <%=lan.Fare%></th>
                                            <th><%=lan.Action%></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1 %>
                                        <% rd.forEach((data) => { %>
                                            <tr>
                                                <td><%= i %></td>
                                                <td><%= data.cname %></td>
                                                <td><%= data.dfname %> <%= data.dlname %></td>
                                                <td><%= data.pic_address %></td>
                                                <td><%= data.drop_address %></td>
                                                <td class="invosymbol"><%= data.price %></td>
                                                <td>
                                                    <ul class="action">
                                                        <li>
                                                            <a class="btn btn-outline-primary b-r-10" style="padding: 4px 10px;" href="/rides/cadetail/<%= data.id %>"><i class="icon-info-alt"></i> <%=lan.Detail%></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <% i++ %>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

    <%- include('./partials/footer'); -%>
    <%- include('./partials/script'); -%>
  </body>
</html>